#site-navigation {
    display: flex;
    flex-direction: column;
    height: 10vh;

    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        a {
            width: 100%;
            text-align: center;
            margin-left: 100px;
            font-size: 21px;
            font-weight: 700;
            padding: 40px 0;
        }
    }

    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
        margin: 0;
        margin-right: 100px;
        height: 100%;

        .burger-menu-close-icon, .burger-menu-open-icon {
            position: fixed;
            width: 40px;
        }
    }

    .hidden {
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    .show {
        left: 0 !important;
        opacity: 1 !important;
    }

    .overlay-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -100%;
        width: 100%;
        top: 10vh;
        height: 90vh;
        opacity: 0;
        background-color: #FFF5E9;
        transition: all 1s ease-in-out;
        overflow: hidden;

        img {
            width: 200px;

        }

        .nav-menu {
            display: flex;
            flex-direction: column;

            li {
                font-size: 64px;
                transition: all 0.3s ease-in-out;

                a {
                    z-index: 999;
                    text-align: center;
                    padding: 20px 0;
                }
            }
            @media (max-width: 768px) {
                li {
                    font-size: 50px;
                }
            }

            li:hover {
                text-shadow: 0px 0px 14px #FF5C00
            }

            li:nth-of-type(1) {
                display: contents;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/orchid.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 170px;
                    width: 170px;
                    top: 70px;
                    left: -60px;
                    animation: rotate 10s linear infinite 1.1s;
                }

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/sunflower.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 216px;
                    width: 216px;
                    top: 60px;
                    right: 60px;
                    animation: rotate 10s linear infinite 1.1s;
                }
                @media (max-width: 768px) {
                    &::after {
                        right: -85px;
                    }
                }
            }

            li:nth-of-type(2) {
                display: contents;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/cat.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 110px;
                    width: 110px;
                    top: 120px;
                    left: 270px;
                    animation: float 6s ease-in-out infinite;
                }
                @media (max-width: 768px) {
                    &::before {
                        left: 360px;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/random_flower.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 75px;
                    width: 75px;
                    top: 310px;
                    right: -35px;
                    animation: rotate 10s linear infinite 1.1s;
                }
            }

            li:nth-of-type(3) {
                display: contents;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/flower.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 70px;
                    width: 70px;
                    top: 390px;
                    left: 200px;
                    animation: rotate 10s linear infinite 1.1s;
                }
                @media (max-width: 768px) {
                    &::before {
                        left: 35px;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/cat_black.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 150px;
                    width: 150px;
                    top: 410px;
                    right: 170px;
                    animation: float 6s ease-in-out infinite;
                }
                @media (max-width: 768px) {
                    &::after {
                        right: 0;
                    }
                }
            }

            li:nth-of-type(4) {
                display: contents;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/cat_orange.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 70px;
                    width: 70px;
                    top: 650px;
                    left: 100px;
                    animation: float 6s ease-in-out infinite;
                }

                @media (max-width: 768px) {
                    &::before {
                        top: 595px;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    background-image: url("../images/Hibiscus.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 626px;
                    width: 626px;
                    top: 64%;
                    right: -300px;
                    animation: rotate 10s linear infinite 1.1s;
                }
            }
        }

        p {
            padding-top: 100px;
        }
        
    }
}
.banner {
    transform: translateY(0px);
    opacity: 0;
    animation: fadeInDown 1s ease-in-out 0.1s forwards;

    height: 100vh;

    background-image: none;

    overflow: hidden;

    .logo {
        opacity: 0;
        animation: fadeInUp 1s ease-in-out 0.1s forwards, float 6s ease-in-out infinite;
        z-index: 1;
    }
    img {
        width: 100%;
    }
    .banner-video {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
    }

    .logo-container {
        position: absolute;
        z-index: 1;
    }

    .banner-fallback {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    @media (max-width: 768px) {
        .banner-video {
            display: none;
        }

        .banner-fallback {
            display: block;
        }
    }
}

.story {
    display: block;

    #characters {
        overflow: hidden;
    }
    @media (max-width: 768px) {
        #characters {
            overflow: visible;
        }
    }

    h2, #characters  {
        transform: translateY(0px);
        opacity: 0;
        animation: fadeInUp 1s ease-in-out 0.1s forwards;

        display: block;
    
        &::before {
            left: -100%;
         }
        &::after {
            height: 155px;
            width: 155px;
            left: -91%;
            
            animation: rotate 10s linear infinite 1.1s;
        }
        h3 {
            text-align: left;
            background-image: url("../images/orange_characters_bg.png");
            width: 100%;
            display: block;
            background-size: contain; 
            background-position: left center; 
            padding: 50px;
        }
        @media (max-width: 768px) {
            h3 {
                text-shadow: 0px 3px 9px rgba(0,0,0,0.6);
            }
        }
        
    }
    
    .swiper-container {
        width: 1440px;
        height: auto;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .swiper-wrapper {
            width: 1440px;

            figure {
                width: 400px;
            }
        }

    }

    .story__article {
        &::after {
            transform: translateY(0px);
            opacity: 0;
            animation: fadeInUp 1s 0.1s ease-out forwards, rotate 10s linear infinite 1.1s
        }

        &::before {
            animation: fadeInUp 1s ease-in-out  forwards;
        }
        
    }
    @media (max-width: 768px) {
        .story__article {
            margin: auto;
        }
    }
    
    #place {
        background-image: none;

         &::before {
            content: '';
            position: absolute; 
            width: 100%;
            min-height: 699px;
            background-image: url("../images/place_bg_no_clouds.png");
            background-size: cover; 
            background-position: center; 
            opacity: 0;
            animation: fadeInUp 1s ease-in-out 0.1s forwards;
            z-index: -1;
        }
        
        .clouds {
            flex-direction: row;
            margin-left: 200px;
            
            .parallax-image {
                position: absolute;
            }
            .big-cloud {
                width: 315px;
                height: 120px;
    
                right: 0;
                margin-top: 80px;

                filter: blur(10px);
            }
    
            .little-cloud {
                width: 142px;
                height: 55px;

                right: 0;
                margin-top: 230px;

                filter: blur(10px);
            }
        }
        @media (max-width: 768px) {
            .clouds {
                display: none;
            }
        }
        @media (max-width: 768px) {
            div {
                width: 100% !important;
                max-width: none !important;
            }
        }
    }

        h3 {
            transform: translateY(0px);
            opacity: 0;
            animation: fadeInUp 1s ease-in-out 0.1s forwards;
        }
    
        p {
            opacity: 1;
            transform: translateY(0px); 
            animation: none; 
        }
}


#studio {
   h2 {
        transform: translateY(0px);
        opacity: 0;
        animation: fadeInUp 1s ease-in-out 0.1s forwards;

        &::before {
            height: 203px;
            width: 203px;
            animation: rotate 10s linear infinite 1.1s;
        }

        &::after {
            height: 109px;
            width: 109px;
            animation: rotate 10s linear infinite 1.1s;
        }
   } 
   div {
        &::before {
            transform: translateY(0px);
            opacity: 0;
            animation: fadeInUp 1s ease-in-out 0.1s forwards;
        }
   }
}



.site-footer {
    transform: translateY(0px);
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0.1s forwards;

    flex-direction: column;

    padding-top: 30px;

    &::before {
        height: 155px;
        width: 155px;
        animation: rotate 10s linear infinite 1.1s;
    }
    &::after {
        animation: rotate 10s linear infinite 1.1s;
        bottom: 28em;
    }

    ul {
        &::after {
            animation: rotate 10s linear infinite 1.1s;
        }
    }
    .oscars {
        div {
            display: flex;
            align-items: center;
    
            width: 80%;
            margin: auto;

            margin-bottom: 200px;
    
            h3 {
                background: url('../images/oscars_bg.png') no-repeat center;
                background-size: contain;
    
                width: 900px;
                margin: 20px;
    
                text-shadow: 0px 3px 9px rgba(0,0,0,0.6);
            }
            img {
                width: 280px;
                height: 130px
            }
        }
        @media (max-width: 768px) {
            div {
                flex-direction: column;

                h3 {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
}
h2 {
    color: rgba($color: #fff, $alpha: 0);
    transition: color 1s ease-out;
    transition-delay: 0.3s;
  
    &.visible {
        color: rgba($color: #fff, $alpha: 1)
    }
  }
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);  
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
